use guix --verbosity=3

libs=(
    node
    adb
)

# hack to get the android emulator working with Guix
mkdir -p "/tmp/adb/platform-tools"
ln -s "$(guix build adb | grep -v 'static')/bin/adb" "/tmp/adb/platform-tools/adb"

export ANDROID_HOME="/tmp/adb"

for lib in "${libs[@]}"; do
    lib_path="$(guix build "$lib")"
    filtered_lib_path="$(echo "$lib_path" | grep -v "static")"

    export LD_LIBRARY_PATH="$filtered_lib_path/lib:$LD_LIBRARY_PATH"
done
